    /* Feedbacks */
.DicasDeclientes-_container{
    position: relative;
    width: 100%;
    padding: 4rem 0;
    background: var(--bg-color-2);
    color: var(--color1)
}

.DicasDeclientes-_container h3{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 20px;    
}

.dicas{
    display: flex;
    flex-wrap: wrap;   
    margin: 0 auto; 
    gap: 1rem;
    justify-content: center;
}

.dica{
    background: var(--bg-color-1);
    width: 300px; 
    border-radius: 1rem;
    padding: 1rem;
}

.dica_top{
    width: 100%;
    display: flex;
    justify-content: space-between;   
    align-items: center;
    margin-bottom: 1rem;
}

.cliente_profile{
    display: flex;    
    align-items: center;
}

.profile-img{
    width: 30px;  
    margin-right: 5px;  
}

img{
    width: 100%;
    border-radius: 5px;   
}

.name{
    font-size: 1rem;
}

.reviews{
    color: #f9d71c;    
}

.dica-cliente{
    font-size: 17px;    
}

.left_right{
    display: flex;
    align-items: center;  
    justify-content: space-between; 
    margin-top: -180px
}

.right,
.left{
    padding: 1rem;   
    font-size: 1rem;
}

.right:hover{
    background: #000; 
    border-top-left-radius: 5px;    
    border-bottom-left-radius: 5px;   
}

.left:hover{
    background: #000; 
    border-top-right-radius: 5px;    
    border-bottom-right-radius: 5px;
}