.servicos-container{
    background: var(--bg-color-2);
    color: var(--color1);
    width: 100%;
    text-align: center;
    padding: 4rem 5rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.servico h2{
    font-size: 1.5rem;
}

.servico p{
    font-size: 1.15rem;
    color: #bdb6b6;
}
    
.servico i{
    color: #0AC4FF;
    font-size: 5rem;
    margin-bottom: .7rem;
}