.solicitacao-container{
    margin: 0 2rem;    
}

.solicitacao-container table .btn-solicitacao{
    display: flex;
    gap: .5rem;
}

.btn-solicitacao i{
    font-size: 1.5rem;
}

.btn-solicitacao button {
    border: none;
    color: var(--color1);
    background-color: #ec5050;
    padding: .5rem;
    text-align: center;
}

.btn-solicitacao .verde{
    background: #40b35d;    
}

.card-reserva{
    width: 80%;
    margin: 0 auto; 
    color: var(--color2);
    margin-bottom: 2rem;   
}

.card-reserva .conteiner-card {
    background: var(--color1);
    padding: 2rem;   
}

.conteiner-card .card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.card-top a{
    text-transform: uppercase;
    font-size: 1.1rem;
    color: var(--color2);
}

.card-top i {
    color: var(--color3);
    font-size: 1.5rem;    
}

.card-top a .color{
    color: var(--color3)    
}

.card-top .id-reserva {
    display: flex; 
    align-items: center;
    gap: 1rem;   
}

.id-reserva h6 {
    font-size: 1.25rem;    
}

.id-reserva span {
    font-size: 1.1rem;    
}

.conteiner-card .card-content{
    margin-top: 1rem;    
}

.card-content .card-info{
    margin-bottom: 1rem;    
}

.card-info h6{
    font-size: 1.25rem;    
}

.card-info span{
    font-size: 1.1rem;    
}

.card-local-date-time {
    width: 40%;
    display: flex;
    justify-content: space-between;  
}

.card-local-date-time .card-local{
    margin-bottom: 1rem;
}

.card-local h6 {
    font-size: 1.25rem;      
}

.card-local span{
    font-size: 1.1rem;
}

.pagamento .preco-viatura{
    margin-bottom: 1rem;
}

.preco-viatura h6 {
    font-size: 1.25rem;   
}

.preco-viatura span {
    font-size: 1.1rem;
}

.pagamento .preco-total{
    border-top: 2px solid #464444;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;  
}

.preco-total h6 {
    color: #71802f;
    font-size: 1.25rem;
}

.preco-total span {
    font-size: 1.1rem;    
}